* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    margin: 1rem;
}

.container-article {
    display: flex;
    flex-wrap: wrap;
}

.container-buttons {
    display: flex;
}

.container-like-button, .like-button, .discover-button {
    border-radius: 5px;
    background-color: #3b82f6;
    border: none;
    color: white;
    cursor: pointer;
}

.discover-button {
    padding: 0 25px;
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-like-button {
    border: none;
    width: fit-content;
    margin-right: 1rem;
}

.like-button {
    padding: 10px 25px;
    width: 100%;
}

article {
    margin-bottom: 20px;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: #cccccc;
    width: 400px;
    padding: 10px;
}

h2 {
    margin: 0;
}
