* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    margin: 1rem;
}

.container-like-button, .like-button {
    border-radius: 5px;
    background-color: #3b82f6;
    border: none;
    color: white;
    cursor: pointer;
}

.container-like-button {
    border: none;
    width: fit-content;
}

.like-button {
    padding: 10px 25px;
    width: 100%;
}

article {
    margin-bottom: 20px;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: #cccccc;
    width: 400px;
    padding: 10px;
}

h2 {
    margin: 0;
}
